body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  padding: 15px;
}
.title {
  margin: 0;
  padding: 30px 0;
}
.flex {
  display: flex;
  align-items: center;
}
.item_image {
  width: 100px;
  text-align: center;
}

.item_image img {
  max-height: 100px;
}
.item_box {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}
.item_title {
  width: 200px;
}
.item_title,
.item_price,
.quantity,
.remove-btn,
.item_image {
  padding: 0 10px;
}
.remove-btn {
  padding-left: 6px;
}
input {
  width: 25px;
}

.plus-btn,
.minus-btn,
.remove-btn {
  width: 25px;
  height: 21px;
  cursor: pointer;
}
.plus-btn img {
  width: 100%;
}
.remove-btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.remove-btn img {
  height: 9px;
}
